@tailwind preflight;


/**
 * Font Add
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,medium");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:light,thin");

/**
 * Your Style Here
 */

body {

    @apply text-white bg-black;
    font-family: 'Roboto', sans-serif;
}

h1 {

    line-height: 30px;

}

.header {

    @apply flex justify-center h-auto bg-black-dark;


    h1 {

        @apply text-5xl font-semibold;

    }


    .navigation {


        @apply w-full border-b-2 border-black-light ;

        ul {

            @apply list-reset text-grey 
            flex justify-center 
            items-center font-light 
            tracking-wide;

            li {

                @apply p-1 py-2

                cursor-pointer text-grey ;

                &:hover , &:focus{

                    @apply bg-black font-semibold tracking-wide;
                
                }

                @screen md {

                    @apply px-6 py-4;
                

                }

                @screen lg {
                
                    @apply px-6 py-4;
                }

            }

        }

    }


    .gagak {


        height: 40rem;
        
        background-image: url('gagak.jpg') ;

        @apply bg-cover bg-black w-full  ;


        .darker {

            @apply flex flex-wrap cursor-pointer w-full h-full
            opacity-75 bg-black ;

            @screen sm {
                
                @apply flex flex-wrap flex-row;
            
            
            }
            &:hover , &:focus {
            
                @apply opacity-50;
            }

            p {
            
                @apply tracking-wide text-xl text-justify;

                line-height: 1.7rem; 
            
            }
        
        }
    
    }

}

.main{

    @apply h-screen;

    h1 {

        @apply font-light text-sm;

    }

}


.footer{

    @apply flex justify-center items-center font-bold h-12 bg-white text-black;

}

@tailwind utilities;

@tailwind screens;

@import "css/ionicons.min.css";
